.button1 {
    text-decoration: none;
    outline: none;
    color: #000000;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 400px;   font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165,.84,.44,1);
}
 .button1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: #ffffff;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165,.84,.44,1);
}
.button1:hover {background: rgba(255,255,255,0);}
.button1:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}
.center{
    font-family:  'Comfortaa', cursive;
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

body{

    background: linear-gradient(135deg, #FABFB2, #FABFB2 25%, #FCA699 25%);
    background-size: 20px 20px;

}
canvas {
    border-radius: 5px;
    border: 1px black solid;
}
